div.getalhouder {
    position: absolute;
    height: 150px;
    width: 150px;
    float: left;
    border: 1px solid black;
}

p.getal {
    font-size: 2em;
    text-align: center;
    vertical-align: center;
}

div#start, div#show, div#punten {
    color:white;
    background-color: black;
    font-size: 2em;
    padding:20px;
    display: inline-block;
}

div#show {
}